<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HashAG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HashAG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HashAG.Properties.Settings.hashcj3022501ConnectionString"
            connectionString="Data Source=10.125.50.191;Initial Catalog=hashcj3022501;User ID=aluno;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="HashAG.Properties.Settings.LoginsConnectionString"
            connectionString="Data Source=10.125.50.191;Initial Catalog=hashcj3022501;User ID=aluno;Password=aluno" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <HashAG.Properties.Settings>
            <setting name="senhaSMTP" serializeAs="String">
                <value>EF797C8118F02DFB649607DD5D3F8C7623048C9C063D532CC95C5ED7A89A64F</value>
            </setting>
        </HashAG.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HashAG.Properties.Settings>
            <setting name="porta" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="enderecoSMTP" serializeAs="String">
                <value>macoratti.smtp.com</value>
            </setting>
            <setting name="portaSMTP" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="emailSMTP" serializeAs="String">
                <value>macoratti@yahoo.com</value>
            </setting>
        </HashAG.Properties.Settings>
		
    </applicationSettings>
</configuration>